.item {
  background-color: #F2F2F2;
  margin-top: 15px;
  padding: 10px;
}

.item:first-child {
  margin-top: 0;
}

.row-content {
  overflow: hidden;

  .text-left {
    float: left;
  }

  .text-right {
    float: right;
  }

  .price {
    font-size: 20px;
    color: #FF9933;
  }
}

.line {
  width: 100%;
  border-bottom: 1px solid #999;
}

.btn-con {
  text-align: right;
  margin-top: 5px;

  .btn {
    float: right;
  }
}