.canSale {
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    vertical-align: bottom;
    margin-right: 3px;
}

.cannotBill {
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #FF3300;
    vertical-align: bottom;
    margin: 0 3px 0 10px;
}